@media screen and (max-width: 60em){

    body {
        width: 90%;
        display: flex;
        flex-direction: column;
    }


    .contactLien {
        width: 100%;
        align-items: center;
    }


}