@media screen and (max-width: 48em) {

    
    body {
        width: 90%;
        display: flex;
        flex-direction: column;
    }


    .cv h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 22px;
    }

.phraseDePresentation {
                font-size: 16px;

}

    h3 {
        font-size: 22px;
        max-width: 100%;
        width: 100%;
        margin-bottom: 0em;
    }

    h4 {
        font-size: 16px;
    }

    article {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    details {
        width:100%;
        margin: 0em; 
        font-size: 20px;       
    }

    details p {
        margin: 0em;


    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


    }



    .appelAcontact {
        padding: 1em;

    }



    .contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0em;
    }

    .contactLien {
        width: 100%;
        align-items: center;
        margin-bottom: 1em;
    }

    .liencontact {
        width: 85%;
        margin-left: ;
    }


}