body {
    width: 90em;
    margin: auto;
    background: rgb(61,190,186);
    background: radial-gradient(circle, rgba(61,190,186,1) 15%, rgba(36,152,148,1) 43%, rgba(51,179,199,1) 82%);
}

header {
    margin-top: 2em;
    color: white;


}

header img {
    width: 25%;
    height: 150px;
    object-fit: cover;
}

.cv {
    display: flex;
    gap: 5em;
}


main {
    display:flex;
    width: 100%;
    flex-wrap: wrap;

}

article {
    width: 50%;
    background-color: #8ecae6;
    

}

.contact {
    display: flex;
    justify-content: center;

}

.liencontact {
    display: flex;
    gap: 1em;
    align-items: center;
    
}


h1, h2, h3, h4 {
    font-family: 'Lunasima', sans-serif;

}

footer, a, summary {
    font-family: 'Mooli', sans-serif;

}

p {
    margin-top: 10px;
    text-align: center;
    font-family: 'Mooli', sans-serif;
    font-style: italic;


}




h3, h4{
    text-align: center;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center ;
    align-items: center;


}


summary {
    text-align: center;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 25px;
    list-style-type: none;

}



.fa-angle-down {
    transform: rotate(180deg);

}
