body {
    width: 90em;
    margin: auto;
    background: rgb(39,182,178);
    background: radial-gradient(circle, rgba(39,182,178,1) 0%, rgba(20,123,128,1) 69%);

}

header {
    margin-top: 2em;


}

header img {
    width: 25%;
    height: 150px;
    object-fit: cover;
}

.cv {
    display: flex;
    gap: 5em;
}


main {
    display:flex;
    width: 100%;
    flex-wrap: wrap;

}

article {
    width: 50%;
    background-color: #5DD39E;

}

.contact {
    display: flex;
    justify-content: center;

}

.liencontact {
    display: flex;
    gap: 1em;
    align-items: center;
    
}


h1, h2, h3, h4 {
    font-family: 'Lunasima', sans-serif;

}

p, li, footer, a, summary {
    font-family: 'Mooli', sans-serif;

}

li, summary {
    margin-top: 10px;


}

/* La suite correspond aux couleurs */



h3 {
    background-color: #348AA7;
    text-align: center;
    width:75%;
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 35px;
    display: flex;
    justify-content: center ;
    align-items: center;

}

div h3 {
    width:35%;


}

summary {
    background-color: #5DD39E;
    width: 55%;
    margin: auto ;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 37px;
    text-align: center;
}

h4 {
    background-color: #A3D5FF;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    width : 65% ;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}

