/*_________________*/
/* GÉNÉRAL */

body {
    width: 90%;
    margin: auto;
    background-image: linear-gradient(to left, #0a0a44, #11849c, #0a0a44, #11849c, #0a0a44);
    font-family: 'Mooli', sans-serif;
}

hr {
    height: 2px;
    border: none;
    background-color: white;
    margin: 10px 0px;
}

/*_________________*/
/* HEADER */
header {
    margin-top: 2em;
    color: white;
}


.cv {
    position: relative;
    text-align: center;
    border: white 2px solid;
}

.cv img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(0.3);
}

.cv h1 {
    font-family: 'Lunasima', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-transform: uppercase;
    font-size: 52px;
}

h2 {
    text-align: center;
    font-family: 'Lunasima', sans-serif;
    font-size: 32px ;
    color: white;
}

/*_________________*/
/* MAIN */
main {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #edf6fb;
    justify-content: center;
}

.phraseDePresentation {
    margin: 1em 2em;
    font-size: 22px;
    text-align: center;
    width: 50%;
}

article {
    width: 50%;
}

h3{
    text-align: center;
    margin:auto;
    font-family: 'Lunasima', sans-serif;
    font-size: 28px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    max-width: 95%;
    margin: 1em 0em 2em 0.6em;
}

article p, article h4 {
    margin-left: 1.5rem;
}

h4 {
    margin-top: 2rem;
}

ul {
    list-style-type: none;
}

.tools {
    display: flex;
    gap: 4rem;
}

/*_________________*/
/* FOOTER */

footer {
    margin-bottom: 2em;
}

.contact {
    background-color: #edf6fb;
    display: flex;
    gap: 3em;
}

.contactLien {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.appelAcontact {
    padding: 2em;
}

.appelAcontact i {
    margin-right: 1rem;
}

.liencontact {
    width: 40%;
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

footer i {
    color: #0a0a44;
    font-size: 24px;
}

footer article {
    background: #edf6fb;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    width: auto;
    padding: 0.8rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}